{% extends 'top.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center><div class=form__title>Fertilizer recommendation</div></center>
                <form class="form-horizontal" action="{{ url_for('fertilizer_predict') }}" method="POST">
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="nitrogen" placeholder="Nitrogen eg. 50">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="phosphorous" placeholder="Phosphorous eg. 60">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="pottasium" placeholder="Pottasium eg. 50">
                    </div>
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="humidity" placeholder="Humidity (in %)">
                    </div>
                    <div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="temperature" placeholder="Temperature(in Celcius)">
                    </div>
            		<div class="form-group">
                        <input style="border: 1px solid black;" class="form-control" type="text" name="moisture" placeholder="Moisture in soil">
                    </div>
            		<div class="form-group">
                        <select style="border: 1px solid black;" class="form-control"  name="soiltype" placeholder="Soiltype">
                            <option selected>Select Soil</option>
                            <option>Sandy</option>
                            <option>Loamy</option>
                            <option>Red</option>
                            <option>Black</option>
                            <option>Clayey</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <select style="border: 1px solid black;" class="form-control"  name="croptype" placeholder="Croptype">
                            <option selected>Select crop</option>
                            <option>Maize</option>
                            <option>Tobacco</option>
                            <option>Paddy</option>
                            <option>Cotton</option>
                            <option>Sugarcane</option>
                            <option>Barley</option>
                            <option>Ground Nuts</option>
                            <option>Pulses</option>
                            <option>Oil seeds</option>
                            <option>Millets</option>
                            <option>Wheat</option>
                        </select>
                    </div>
            		<input type="submit" class="btn btn-info btn-block" value="Predict">
                </form>
            </div>
        </div>
    </div>
{% endblock %}